<div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
      <img src="{{ asset("asset/images/portfolio-left-dec.png") }}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Quelques <em>Formation</em> realiser avec <span>Success</span></h2>
            <span>Formations</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-portfolio">
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-01.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="#" target="_parent"><h4>Marketing Digital</h4></a>
                    <span>Reseau social</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-02.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>L'intelligence Artificiel</h4></a>
                    <span>SEO &amp; Marketing et AI</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-03.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://templatemo.com/tm-562-space-dynamic" target="_parent"><h4>Backend Intialisation</h4></a>
                    <span>Backend</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-04.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>FullStakc Avancés</h4></a>
                    <span>developpement web</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-01.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Arduno</h4></a>
                    <span>Digital asset</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-02.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Developpement Digital</h4></a>
                    <span>SEO &amp; developpement</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-03.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>7em age Web</h4></a>
                    <span>SEO &amp; web</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-04.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Cyber Secuirty</h4></a>
                    <span>SEO &amp; secuirty</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-01.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Web Design</h4></a>
                    <span>SEO &amp; Ux/UH</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-02.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Photoshop</h4></a>
                    <span>SEO &amp; Graphiste</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-03.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>WordPresse</h4></a>
                    <span>SEO &amp; Eventor</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{{ asset("asset/images/portfolio-04.jpg") }}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Gestion Stock</h4></a>
                    <span>SEO &amp; numerisation</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>