{% extends "base.user.html.twig" %}

{% block titre %}Gestion des candidatures
{% endblock %}

{% block body %}

	<div class="card">
		<br>
		<div class="card-hearder text-center">
			<h2>Gestion des candidatures</h2>
		</div>

		<div class="card-body">
			<table id="example" class="table table-striped nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Formation</th>
						<th>Categorie</th>
						<th>Nombre place</th>
						<th>Debut</th>
						<th>Status</th>
						<th>Fin</th>
					</tr>
				</thead>
				<tbody>
					{% for candidature in candidatures %}
						<tr>
							<td>{{candidature.formation.titre}}</td>
							<td>{{candidature.formation.categorie.nom}}</td>
							<td>{{candidature.formation.nombrePlace}}</td>
							<td>{{candidature.formation.dateDebutFormation|date("m/d/Y")}}</td>
							<td>{{candidature.formation.dateFinFormation|date("m/d/Y")}}</td>
							<td>
								{% if candidature.status == 'accepter' %}
									<button class="btn btn-success">Accepter</button>
								{% elseif candidature.status == 'attente' %}
									<button class="btn btn-warning">Attente</button>
								{% elseif candidature.status == 'rejeter' %}
									<button class="btn btn-dark">Rejeter</button>
								{% endif %}
							</td>
							<td>
								<a href="{{ path("utilisature_supprimer_foramtion", {id: candidature.id}) }}" class="btn btn-danger" onclick="return confirm('Etes vous sur de vouloir retire votre candidature de cette formation ?')">Retirer ma candidature</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () {
$('#example').DataTable();
});
	</script>
{% endblock %}
