<!DOCTYPE html>
<html lang="en">

	<head>
		<title>
			{% block titre %}{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="description" content="Mega Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."/>
		<meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive"/>
		<meta
		name="author" content="codedthemes"/>
		<!-- Favicon icon -->
		<link
		rel="icon" href="{{ asset("assets/images/favicon.ico") }}" type="image/x-icon">
		<!-- Google font-->
		<link
		href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
		<!-- waves.css -->
		<link
		rel="stylesheet" href="{{ asset("assets/pages/waves/css/waves.min.css") }}" type="text/css" media="all">
		<!-- Required Fremwork -->
		<link
		rel="stylesheet" type="text/css" href="{{ asset("assets/css/bootstrap/css/bootstrap.min.css") }}">
		<!-- waves.css -->
		<link
		rel="stylesheet" href="{{ asset("assets/pages/waves/css/waves.min.css") }}" type="text/css" media="all">
		<!-- themify icon -->
		<link
		rel="stylesheet" type="text/css" href="{{ asset("assets/icon/themify-icons/themify-icons.css") }}">
		<!-- Font Awesome -->
		<link
		rel="stylesheet" type="text/css" href="{{ asset("assets/icon/font-awesome/css/font-awesome.min.css") }}">
		<!-- scrollbar.css -->
		<link
		rel="stylesheet" type="text/css" href="{{ asset("assets/css/jquery.mCustomScrollbar.css") }}">
		<!-- am chart export.css -->
		<link
		rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
		<!-- Style.css -->
		<link rel="stylesheet" type="text/css" href="{{ asset("assets/css/style.css") }}">
		<link rel="stylesheet" href="https://unpkg.com/sleek-dashboard/dist/assets/css/sleek.min.css">
		<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.4.95/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
	</head>

	<body>
		<!-- Pre-loader start -->
		<div class="theme-loader">
			<div class="loader-track">
				<div class="preloader-wrapper">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader end -->
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
				<nav class="navbar header-navbar pcoded-header">
					<div class="navbar-wrapper">
						<div class="navbar-logo">
							<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
								<i class="ti-menu"></i>
							</a>
							<div class="mobile-search waves-effect waves-light">
								<div class="header-search">
									<div class="main-search morphsearch-search">
										<div class="input-group">
											<span class="input-group-addon search-close">
												<i class="ti-close"></i>
											</span>
											<input type="text" class="form-control" placeholder="Enter Keyword">
											<span class="input-group-addon search-btn">
												<i class="ti-search"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<a href="index.html">
								<img class="img-fluid" src="{{ asset("assets/images/logo.png") }}" alt="Theme-Logo"/>
							</a>
							<a class="mobile-options waves-effect waves-light">
								<i class="ti-more"></i>
							</a>
						</div>
					</div>
				</nav>

				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
						<nav class="pcoded-navbar">
							<div class="sidebar_toggle">
								<a href="#">
									<i class="icon-close icons"></i>
								</a>
							</div>
							<div class="pcoded-inner-navbar main-menu">
								<div class="">
									<div class="main-menu-header">
										{% include "admin/identifiant.html.twig" %}
									</div>
								</div><br>
								<ul class="pcoded-item pcoded-left-item">
									<li class="{{ isActive1(['admin_home']) }}">
										<a href="{{ path('admin_home') }}" class="waves-effect waves-dark ">
											<span class="pcoded-micon">
												<i class="ti-home"></i>
												<b>D</b>
											</span>
											<span class="pcoded-mtext" data-i18n="nav.dash.main">Tableau de bord</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
									<li class="book-information-variant {{ isActive1([" admin_formation_liste", " admin_formation_detail", " admin_formation_creation", " admin_formation_edition", " admin_formation_suppression"," admin_formation_candidature"," admin_formation_candidaure_suppression"," admin_formation_active_formation"," admin_formation_desactive_formation"," admin_formation_gestion_status"]) }}">
										<a href="{{ path("admin_formation_liste") }}" class="waves-effect waves-dark ">
											<span class="pcoded-micon">
												<i class="fa fa-list" aria-hidden="true"></i>
												<b>D</b>
											</span>Formation
										</a>
									</li>
									<li class="{{ isActive1(["admin_candidature_liste", "admin_candidature_creation", "admin_candidature_edition", "admin_candidature_suppression"]) }}">
										<a href="{{ path("admin_candidature_liste") }}" class="">
											<span class="pcoded-micon">
												<i class="ti-view-list-alt"></i>
												<b>D</b>
											</span>Candidature
										</a>
									</li>
									<li class="{{ isActive1(["admin_formations_liste", "admin_formations_candidatures"]) }}">
										<a href="{{ path("admin_formations_liste") }}" class="">
											<span class="pcoded-micon">
												<i class="ti-archive" aria-hidden="true"></i>
												<b>D</b>
											</span>Fichier candidature
										</a>
									</li>
									<li class="{{ isActive1(["admin_candidature_formation_listing", "admin_candidature_formation_retenu", "admin_candidature_formation_exportation"]) }}">
										<a href="{{ path('admin_candidature_formation_listing') }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid3-alt"></i>
												<b>D</b>
											</span>Liste retenus
										</a>
									</li>
									<li class="{{ isActive1(["admin_categorie", "admin_creation_categorie", "admin_edition_categorie", "admin_suppresion_categorie"]) }}">
										<a href="{{ path("admin_categorie") }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-list-thumb"></i>
												<b>D</b>
											</span>Categorie
										</a>
									</li>
									<li class="{{ isActive1(["admin_ville", "admin_creation_ville", "admin_edition_ville", "admin_suppression_ville", "importation_ville"]) }}">
										<a href="{{ path("admin_ville") }}" class="">
											<span class="pcoded-micon">
												<i class="ti-layout-column3-alt"></i>
												<b>D</b>
											</span>Ville
										</a>
									</li>
									<li class="{{ isActive1(["admin_utilisateur_liste", "admin_utilisateur_creation", "admin_utilisateur_edition", "admin_utilisateur_suppression"]) }}">
										<a href="{{ path("admin_utilisateur_liste") }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-user"></i>
												<b>D</b>
											</span>Utilisateur
										</a>
									</li>
									<li class="{{ isActive1(["admin_historique_connexion"]) }}">
										<a href="{{ path("admin_historique_connexion") }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="fa fa-th-large" aria-hidden="true"></i>
												<b>D</b>
											</span>Historique connexion
										</a>
									</li>
									<li class="{{ isActive1(["admin_contact", "admin_contact_email", "admin_contact_sms"]) }}">
										<a href="{{ path("admin_contact") }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="fa fa-contao" aria-hidden="true"></i>
												<b>D</b>
											</span>Contact
										</a>
									</li>
									<li class="{{ isActive1(["admin_parametre", "admin_edit_profil_parametre", "admin_edit_photo_parametre", "admin_edit_password_parametre"]) }}">
										<a href="{{ path("admin_parametre") }}" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-settings"></i>
												<b>D</b>
											</span>Parametres
										</a>
									</li>
								</ul>
							</div>
						</nav>
						<div
							class="pcoded-content">
							<!-- Page-header start -->
							<div class="page-header">
								<div class="page-block">
									<div class="row align-items-center">
										<div class="col-md-8">
											<div class="page-header-title">
												<h5 class="m-b-10">Tableau de bord</h5>
												<p class="m-b-0">Bienvenu a vous</p>
											</div>
										</div>
										<div class="col-md-4">
											<ul class="breadcrumb-title">
												<li class="breadcrumb-item">
													<a href="{{ path('admin_home') }}">
														<i class="fa fa-home"></i>
													</a>
												</li>
												<li class="breadcrumb-item">
													<a href="{{ path("app_logout") }}" class="">Deconnexion</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<!-- Page-header end -->
							<div
								class="pcoded-inner-content">
								<!-- Main-body start -->
								<div class="main-body">
									<div
										class="page-wrapper">
										<!-- Page-body start -->
										<div class='clearfix mb-3'>
											<div class="row">
												<div class="col-6">
													<h2>{% block content_title %}
														{% endblock%}
													</h2>
												</div>
												<div class="col-6">
													{% block content_buttons %}
													{% endblock%}
												</div>
											</div>
										</div>
										<div class="page-body">
											<div class='text-center'>
												{% for message in app.flashes("success") %}
													<div class="btn btn-success">
														{{message}}
													</div>
												{% endfor %}
											</div><br>
											{% block body %}{% endblock %}
										</div>
										<!-- Page-body end -->
									</div>
									<div id="styleSelector"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>
	</body>
</html></div><div class="modal fade" id="modale" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" id="modale-body">
			...
		</div>
	</div>
</div></div><!-- Required Jquery --><script type="text/javascript" src="{{ asset("assets/js/jquery/jquery.min.js") }}"></script><script type="text/javascript" src="{{ asset("assets/js/jquery-ui/jquery-ui.min.js") }} "></script><script type="text/javascript" src="{{ asset("assets/js/popper.js/popper.min.js") }}"></script><script type="text/javascript" src="{{ asset("assets/js/bootstrap/js/bootstrap.min.js") }} "></script><script type="text/javascript" src="assets/pages/widget/excanvas.js "></script><!-- waves js --><script src="{{ asset("assets/pages/waves/js/waves.min.js") }}"></script><!-- jquery slimscroll js --><script type="text/javascript" src="{{ asset("assets/js/jquery-slimscroll/jquery.slimscroll.js") }} "></script><!-- modernizr js --><script type="text/javascript" src="{{ asset("assets/js/modernizr/modernizr.js") }} "></script><!-- slimscroll js --><script type="text/javascript" src="{{ asset("assets/js/SmoothScroll.js") }}"></script><script src="{{ asset("assets/js/jquery.mCustomScrollbar.concat.min.js") }} "></script><!-- Chart js --><script type="text/javascript" src="{{ asset("assets/js/chart.js/Chart.js") }}"></script><!-- amchart js --><script src="https://www.amcharts.com/lib/3/amcharts.js"></script><script src="{{ asset("assets/pages/widget/amchart/gauge.js") }}"></script><script src="{{ asset("assets/pages/widget/amchart/serial.js") }}"></script><script src="{{ asset("assets/pages/widget/amchart/light.js") }}"></script><script src="{{ asset("assets/pages/widget/amchart/pie.min.js") }}"></script><script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script><!-- menu js --><script src="{{ asset("assets/js/pcoded.min.js") }}"></script><script src="{{ asset("assets/js/vertical-layout.min.js") }} "></script><!-- custom js --><script type="text/javascript" src="{{ asset("assets/pages/dashboard/custom-dashboard.js") }}"></script><script type="text/javascript" src="{{ asset("assets/js/script.js") }} "></script>{# <script src="https://code.jquery.com/jquery-3.5.1.js"></script> #}<script src="https://unpkg.com/sleek-dashboard/dist/assets/js/sleek.bundle.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script><script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script><script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script><script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script><script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script><script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script><script>
// Acc
$(document).on("click", ".naccs .menu div", function () {
var numberIndex = $(this).index();

if (!$(this).is("active")) {
$(".naccs .menu div").removeClass("active");
$(".naccs ul li").removeClass("active");

$(this).addClass("active");
$(".naccs ul").find("li:eq(" + numberIndex + ")").addClass("active");

var listItemHeight = $(".naccs ul").find("li:eq(" + numberIndex + ")").innerHeight();
$(".naccs ul").height(listItemHeight + "px");
}
});</script><script>
$(document).ready(function () {

$(".btn-actions").click(function (e) {
e.preventDefault()
$("#modale").modal("show")
let url = $(this).attr("href")
$('#modale-body').load(url);
});
}){% for message in app.flashes("success") %}Swal.fire({"icon": "success", "title": "Success", "text":"{{ message }}"}){% endfor %}{% for message in app.flashes("error") %}Swal.fire({"icon": "error", "title": "Erreur", "text":"{{ message }}"}){% endfor %}</script></body>{% block javascripts %}{% endblock %}</html>
